*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    max-height: 100%;
    justify-content: space-between;
}

header{
    z-index: 2;
    width: 95%;
    min-width: 320px;
    border-radius: 1000px 0px 0px 1000px;
    background-image: linear-gradient(to right, rgb(0, 128, 0), rgb(0, 178, 0));
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 7vh;
    height: 15vh;
    min-height: 150px;
}

header img{
    max-width: 10vw;
    min-width: 180px;
    border: 0.5vw solid rgb(0, 70, 0);
    border-radius: 1000px;
}

header ul{
    align-self: center;
    list-style: none;
    text-align: start;
}

main{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left{
    float: left;
    width: 60%;
    min-width: 220px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left ul{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: square;
}

.left ul li{
    margin-top: 2vh;
    color: rgb(0, 170, 0);
}

.left ul li p{
    color: black;
}

.left h1{
    font-size: 1rem;
    background-color: rgb(0, 170, 0);
    padding: 1vh;
    border: 0.3vw solid rgb(0, 70, 0);
}

.left img{
    height: 5vh;
}

.left .aiai{
    text-align: center;
    list-style: square;
    
}

.right{
    min-width: 180px;
    width: 30%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    background-color: rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.right h1{
    padding-right: 1rem;
    padding-left: 1rem;
    padding: 0.5rem;
    border: 0.3vw solid white;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    text-align: center;
    min-width: 150px;
}

.right ul{
    list-style: square;
    margin-left: 1vw;
}

.right ul li{
    margin-top: 1rem;
}

footer{
    top: 95%;
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 5vh;
    background-color: green;
}